.nav {
  background-color: #fff;
  margin-bottom: 33px !important;
}

.nav-link {
  border-radius: 0px !important;
}

.section-nav {
  font-size: 13px;
  color: #193948;
  border: 1px solid #fff;
}

.section-nav:hover {
  color: #fff;
  background-color: #193948 !important;
  border: 1px solid #fff;
}

.icon-nav {
  font-size: 20px;
}

/* Icons position */
a.section-nav {
  display: inline-block;
  width: 100%;
  float: left;
  text-align: center;
}

a.section-nav i,
a.section-nav span {
  display: block;
  width: 100%;
  clear: both;
}

.nav-link.active,
.show > .nav-link {
  color: #fff;
  background-color: #193948 !important;
}
